<a href="https://colab.research.google.com/github/SLane35/CollabCompet/blob/master/EntityMatching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install git+https://github.com/anhaidgroup/deepmatcher.git

Collecting git+https://github.com/anhaidgroup/deepmatcher.git
  Cloning https://github.com/anhaidgroup/deepmatcher.git to /tmp/pip-req-build-cr0jnbx1
  Running command git clone -q https://github.com/anhaidgroup/deepmatcher.git /tmp/pip-req-build-cr0jnbx1
Requirement already satisfied: torch>=1.0 in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (1.6.0+cu101)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (4.41.1)
Collecting pyprind
  Downloading https://files.pythonhosted.org/packages/1e/30/e76fb0c45da8aef49ea8d2a90d4e7a6877b45894c25f12fb961f009a891e/PyPrind-2.11.2-py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (1.15.0)
Requirement already satisfied: Cython in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.29.21)
Requirement already satisfied: torchtext in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.3.1)
Requirement already satisfied: nltk>=3.2.5 in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (3.2.5)
Collecting fasttext
  Downloading https://files.pythonhosted.org/packages/f8/85/e2b368ab6d3528827b147fdb814f8189acc981a4bc2f99ab894650e05c40/fasttext-0.9.2.tar.gz (68kB)
     |████████████████████████████████| 71kB 3.6MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (1.0.5)
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.3.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.22.2.post1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from torch>=1.0->deepmatcher==0.1.1) (0.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torch>=1.0->deepmatcher==0.1.1) (1.18.5)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from torchtext->deepmatcher==0.1.1) (2.23.0)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.6/dist-packages (from fasttext->deepmatcher==0.1.1) (2.5.0)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from fasttext->deepmatcher==0.1.1) (49.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->deepmatcher==0.1.1) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->deepmatcher==0.1.1) (2.8.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->deepmatcher==0.1.1) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->deepmatcher==0.1.1) (0.16.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (3.0.4)
Building wheels for collected packages: deepmatcher, fasttext
  Building wheel for deepmatcher (setup.py) ... done
  Created wheel for deepmatcher: filename=deepmatcher-0.1.1-py2.py3-none-any.whl size=55003 sha256=79deb95ea84dd4bccb70c9ef509e1379683d167b3568ae6e794a6a65a56d1db4
  Stored in directory: /tmp/pip-ephem-wheel-cache-qh59odo8/wheels/21/b3/11/dc933837985fcb4683f016ed48f88ae73f90f9b20c122fbedd
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp36-cp36m-linux_x86_64.whl size=3015362 sha256=51d06b58e180a642cb27a274bc56e39e290bac1a2e4a6358e7f4d761097212d5
  Stored in directory: /root/.cache/pip/wheels/98/ba/7f/b154944a1cf5a8cee91c154b75231136cc3a3321ab0e30f592
Successfully built deepmatcher fasttext
Installing collected packages: pyprind, fasttext, deepmatcher
Successfully installed deepmatcher-0.1.1 fasttext-0.9.2 pyprind-2.11.2

In [ ]:

#try:
#    import deepmatcher
#except:
#    !pip install -qqq deepmatcher

In [ ]:
import deepmatcher as dm

In [ ]:
import torch
torch.cuda.is_available()

True

In [ ]:
!pip install -qqq recordlinkage

     |████████████████████████████████| 952kB 4.5MB/s
     |████████████████████████████████| 102kB 9.8MB/s

In [ ]:
import pandas as pd
import recordlinkage
from recordlinkage.datasets import load_febrl1
df = load_febrl1(True)

In [ ]:
dfNoLabels = load_febrl1()

In [ ]:
matching_dictionary = df[1]

In [ ]:
left_df = dfNoLabels.loc[matching_dictionary.get_level_values(0)]

In [ ]:
right_df = dfNoLabels.loc[matching_dictionary.get_level_values(1)]

In [ ]:
left_df

              given_name     surname  ... date_of_birth soc_sec_id
rec-223-dup-0    jamilla     wallner  ...      19081209    6988048
rec-122-dup-0    lachlan       berry  ...      19990219    7364009
rec-373-dup-0     deakin  sondergeld  ...      19600210    2635962
rec-10-org         kayla  harrington  ...      19150612    9004242
rec-227-dup-0        mia      purdon  ...      19831024    8099933
...                  ...         ...  ...           ...        ...
rec-132-org       joshua      ingels  ...      19080503    3603864
rec-498-dup-0     claire       crook  ...           NaN    2161417
rec-8-org          james      jesser  ...      19120111    5961736
rec-222-dup-0     emiiyl     coleman  ...      19421221    7206933
rec-83-org      mitchell       berry  ...      19400503    2887622

[500 rows x 10 columns]

In [ ]:
right_df

              given_name     surname  ... date_of_birth soc_sec_id
rec-223-org          NaN      waller  ...      19081209    6988048
rec-122-org      lachlan       berry  ...      19990219    7364009
rec-373-org       deakin  sondergeld  ...      19600210    2635962
rec-10-dup-0       kayla  harrington  ...      19150612    9004242
rec-227-org         luke      purdon  ...      19831024    8099933
...                  ...         ...  ...           ...        ...
rec-132-dup-0     joshua     ingelbs  ...      19080503    3603864
rec-498-org       claire       crook  ...           NaN    2161417
rec-8-dup-0        james     jeslser  ...      19120111    5961736
rec-222-org       emiily     coleman  ...      19421221    7206933
rec-83-dup-0    mitchell       berry  ...      19400503    2887622

[500 rows x 10 columns]

In [ ]:
left_df = left_df.drop(columns=['street_number', 'address_2', 'postcode', 'soc_sec_id'])
left_df

              given_name     surname  ... state date_of_birth
rec-223-dup-0    jamilla     wallner  ...    wa      19081209
rec-122-dup-0    lachlan       berry  ...   qld      19990219
rec-373-dup-0     deakin  sondergeld  ...   vic      19600210
rec-10-org         kayla  harrington  ...   nsw      19150612
rec-227-dup-0        mia      purdon  ...   vic      19831024
...                  ...         ...  ...   ...           ...
rec-132-org       joshua      ingels  ...   vic      19080503
rec-498-dup-0     claire       crook  ...   vic           NaN
rec-8-org          james      jesser  ...   vic      19120111
rec-222-dup-0     emiiyl     coleman  ...   nsw      19421221
rec-83-org      mitchell       berry  ...   nsw      19400503

[500 rows x 6 columns]

In [ ]:
right_df = right_df.drop(columns=['street_number', 'address_2', 'postcode', 'soc_sec_id'])
right_df

              given_name     surname  ... state date_of_birth
rec-223-org          NaN      waller  ...    wa      19081209
rec-122-org      lachlan       berry  ...   qld      19990219
rec-373-org       deakin  sondergeld  ...   vic      19600210
rec-10-dup-0       kayla  harrington  ...   nsw      19150612
rec-227-org         luke      purdon  ...   vic      19831024
...                  ...         ...  ...   ...           ...
rec-132-dup-0     joshua     ingelbs  ...   vic      19080503
rec-498-org       claire       crook  ...   vic           NaN
rec-8-dup-0        james     jeslser  ...   vic      19120111
rec-222-org       emiily     coleman  ...   nsw      19421221
rec-83-dup-0    mitchell       berry  ...   nsw      19400503

[500 rows x 6 columns]

In [ ]:
left_df_renamed = left_df.rename(columns={'given_name':'left_given_name', 'surname': 'left_surname', 'address_1':'left_address_1', 'suburb':'left_suburb', 'state':'left_state', 'date_of_birth':'left_date_of_birth'})

In [ ]:
right_df_renamed = right_df.rename(columns={'given_name':'right_given_name', 'surname': 'right_surname',  'address_1':'right_address_1', 'suburb':'right_suburb', 'state':'right_state', 'date_of_birth':'right_date_of_birth'})

In [ ]:
right_df_renamed['id'] = range(1, len(right_df_renamed)+1)

In [ ]:
left_df_renamed['id'] = range(1, len(left_df_renamed)+1)

In [ ]:
combined_df = pd.merge(left_df_renamed, right_df_renamed, on="id")

In [ ]:
combined_df['label'] = 1
combined_df

    left_given_name left_surname  ... right_date_of_birth label
0           jamilla      wallner  ...            19081209     1
1           lachlan        berry  ...            19990219     1
2            deakin   sondergeld  ...            19600210     1
3             kayla   harrington  ...            19150612     1
4               mia       purdon  ...            19831024     1
..              ...          ...  ...                 ...   ...
495          joshua       ingels  ...            19080503     1
496          claire        crook  ...                 NaN     1
497           james       jesser  ...            19120111     1
498          emiiyl      coleman  ...            19421221     1
499        mitchell        berry  ...            19400503     1

[500 rows x 14 columns]

In [ ]:
right_df_shuffled = right_df.sample(frac=1).reset_index(drop=True)
right_df_shuffled

          given_name     surname  ... state date_of_birth
0             oliver     rickett  ...   qld      19431020
1             kieren        reid  ...   nsw      19790121
2              holly     siemers  ...    sa      19610319
3           benjamin    campbell  ...   qld      19330926
4              jayde  van keulen  ...   vic      19150821
..               ...         ...  ...   ...           ...
495  davila-sanhdars       dante  ...    wa      19120206
496          harriet     belperi  ...   qld           NaN
497              NaN     mcveigh  ...    wa      19360219
498           kirrah    mccarthy  ...    wa      19400306
499         maddison       berry  ...    sa      19840928

[500 rows x 6 columns]

In [ ]:
right_df_shuffled = right_df_shuffled.rename(columns={'given_name':'right_given_name', 'surname': 'right_surname',  'address_1':'right_address_1', 'suburb':'right_suburb', 'state':'right_state', 'date_of_birth':'right_date_of_birth'})

In [ ]:
right_df_shuffled['id'] = range(1, len(right_df_shuffled)+1)

In [ ]:
combined_df_mixed = pd.merge(left_df_renamed, right_df_shuffled, on="id")
combined_df_mixed

    left_given_name left_surname  ... right_state right_date_of_birth
0           jamilla      wallner  ...         qld            19431020
1           lachlan        berry  ...         nsw            19790121
2            deakin   sondergeld  ...          sa            19610319
3             kayla   harrington  ...         qld            19330926
4               mia       purdon  ...         vic            19150821
..              ...          ...  ...         ...                 ...
495          joshua       ingels  ...          wa            19120206
496          claire        crook  ...         qld                 NaN
497           james       jesser  ...          wa            19360219
498          emiiyl      coleman  ...          wa            19400306
499        mitchell        berry  ...          sa            19840928

[500 rows x 13 columns]

In [ ]:
combined_df_mixed['label'] = 0
combined_df_mixed

    left_given_name left_surname  ... right_date_of_birth label
0           jamilla      wallner  ...            19431020     0
1           lachlan        berry  ...            19790121     0
2            deakin   sondergeld  ...            19610319     0
3             kayla   harrington  ...            19330926     0
4               mia       purdon  ...            19150821     0
..              ...          ...  ...                 ...   ...
495          joshua       ingels  ...            19120206     0
496          claire        crook  ...                 NaN     0
497           james       jesser  ...            19360219     0
498          emiiyl      coleman  ...            19400306     0
499        mitchell        berry  ...            19840928     0

[500 rows x 14 columns]

In [ ]:
final_df = pd.concat([combined_df, combined_df_mixed], axis=0)
final_df

    left_given_name left_surname  ... right_date_of_birth label
0           jamilla      wallner  ...            19081209     1
1           lachlan        berry  ...            19990219     1
2            deakin   sondergeld  ...            19600210     1
3             kayla   harrington  ...            19150612     1
4               mia       purdon  ...            19831024     1
..              ...          ...  ...                 ...   ...
495          joshua       ingels  ...            19120206     0
496          claire        crook  ...                 NaN     0
497           james       jesser  ...            19360219     0
498          emiiyl      coleman  ...            19400306     0
499        mitchell        berry  ...            19840928     0

[1000 rows x 14 columns]

In [ ]:
final_df['id'] = range(1, len(final_df)+1)

In [ ]:
final_df = final_df.sample(frac=1).reset_index(drop=True)

In [ ]:
import numpy as np
train,validate,test = np.split(final_df, [int(.8 * len(final_df)), int(.9 * len(final_df))])

In [ ]:
from google.colab import drive
drive.mount('/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /drive

In [ ]:
train.to_csv('/drive/My Drive/EntityMatching/train.csv')

In [ ]:
validate.to_csv('/drive/My Drive/EntityMatching/validate.csv')
test.to_csv('/drive/My Drive/EntityMatching/test.csv')

In [ ]:
processed_train, processed_validate, processed_test = dm.data.process(path='/drive/My Drive/EntityMatching', train='train.csv', validation='validate.csv', test='test.csv',ignore_columns=(''), left_prefix='left_',right_prefix='right_',label_attr='label',id_attr='id')

WARNING:deepmatcher.data.dataset:Rebuilding data cache because: ['One or more data files have been modified.']

Reading and processing data from "/drive/My Drive/EntityMatching/train.csv"
0% [############################# ] 100% | ETA: 00:00:00
Reading and processing data from "/drive/My Drive/EntityMatching/validate.csv"
0% [############################# ] 100% | ETA: 00:00:00
Reading and processing data from "/drive/My Drive/EntityMatching/test.csv"
0% [############################# ] 100% | ETA: 00:00:00
Building vocabulary
0% [#] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Computing principal components
0% [#] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [ ]:
train_table = processed_train.get_raw_table()
train_table.head(10)

  left_given_name left_surname  ... right_date_of_birth label
0          joshua        dolan  ...            19521116     1
1            lily       huxley  ...            19490409     0
2           david       stubbs  ...            19490218     1
3       madeleine     paterson  ...            19521116     0
4            liam     musolino  ...                         1
5          thomas    guthridge  ...            19861104     0
6         tristan        white  ...            19420722     0
7            jack         rees  ...            19891110     1
8        isabelle         lowe  ...            19500121     0
9            tori        fleet  ...            19160610     0

[10 rows x 14 columns]

# New Section

In [ ]:
model = dm.MatchingModel(attr_summarizer='hybrid')

In [ ]:
model.run_train(
    processed_train,
    processed_validate,
    epochs=10,
    batch_size=16,
    best_save_path='hybrid_model.pth',
    pos_neg_ratio=3)

* Number of trainable parameters: 13363808
===>  TRAIN Epoch 1

/usr/local/lib/python3.6/dist-packages/torch/nn/functional.py:2352: UserWarning: reduction: 'mean' divides the total loss by both the batch size and the support size.'batchmean' divides only by the batch size, and aligns with the KL div math definition.'mean' will be changed to behave the same as 'batchmean' in the next major release.
  warnings.warn("reduction: 'mean' divides the total loss by both the batch size and the support size."
0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 1 || Run Time:    8.5 | Load Time:    0.7 || F1:  73.20 | Prec:  58.89 | Rec:  96.70 || Ex/s:  86.96

===>  EVAL Epoch 1

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 1 || Run Time:    0.6 | Load Time:    0.1 || F1:  95.58 | Prec:  94.74 | Rec:  96.43 || Ex/s: 146.70

* Best F1: tensor(95.5752, device='cuda:0')
Saving best model...
Done.
---------------------

===>  TRAIN Epoch 2

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 2 || Run Time:    8.7 | Load Time:    0.7 || F1:  96.16 | Prec:  93.95 | Rec:  98.48 || Ex/s:  84.63

===>  EVAL Epoch 2

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 2 || Run Time:    0.6 | Load Time:    0.1 || F1:  96.55 | Prec:  93.33 | Rec: 100.00 || Ex/s: 148.54

* Best F1: tensor(96.5517, device='cuda:0')
Saving best model...
Done.
---------------------

===>  TRAIN Epoch 3

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 3 || Run Time:    8.7 | Load Time:    0.7 || F1:  99.75 | Prec:  99.49 | Rec: 100.00 || Ex/s:  85.13

===>  EVAL Epoch 3

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 3 || Run Time:    0.6 | Load Time:    0.1 || F1:  96.55 | Prec:  93.33 | Rec: 100.00 || Ex/s: 150.18

---------------------

===>  TRAIN Epoch 4

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 4 || Run Time:    8.5 | Load Time:    0.7 || F1:  99.87 | Prec:  99.75 | Rec: 100.00 || Ex/s:  86.65

===>  EVAL Epoch 4

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 4 || Run Time:    0.6 | Load Time:    0.1 || F1:  97.39 | Prec:  94.92 | Rec: 100.00 || Ex/s: 148.33

* Best F1: tensor(97.3913, device='cuda:0')
Saving best model...
Done.
---------------------

===>  TRAIN Epoch 5

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 5 || Run Time:    8.6 | Load Time:    0.7 || F1:  99.87 | Prec:  99.75 | Rec: 100.00 || Ex/s:  85.57

===>  EVAL Epoch 5

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 5 || Run Time:    0.6 | Load Time:    0.1 || F1:  96.55 | Prec:  93.33 | Rec: 100.00 || Ex/s: 149.92

---------------------

===>  TRAIN Epoch 6

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 6 || Run Time:    8.6 | Load Time:    0.7 || F1:  99.87 | Prec:  99.75 | Rec: 100.00 || Ex/s:  86.08

===>  EVAL Epoch 6

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 6 || Run Time:    0.6 | Load Time:    0.1 || F1:  96.55 | Prec:  93.33 | Rec: 100.00 || Ex/s: 151.63

---------------------

===>  TRAIN Epoch 7

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 7 || Run Time:    8.5 | Load Time:    0.7 || F1:  99.87 | Prec:  99.75 | Rec: 100.00 || Ex/s:  86.52

===>  EVAL Epoch 7

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 7 || Run Time:    0.6 | Load Time:    0.1 || F1:  96.55 | Prec:  93.33 | Rec: 100.00 || Ex/s: 153.28

---------------------

===>  TRAIN Epoch 8

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 8 || Run Time:    8.5 | Load Time:    0.7 || F1:  99.87 | Prec:  99.75 | Rec: 100.00 || Ex/s:  86.63

===>  EVAL Epoch 8

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 8 || Run Time:    0.6 | Load Time:    0.1 || F1:  95.65 | Prec:  93.22 | Rec:  98.21 || Ex/s: 150.28

---------------------

===>  TRAIN Epoch 9

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 9 || Run Time:    8.6 | Load Time:    0.7 || F1: 100.00 | Prec: 100.00 | Rec: 100.00 || Ex/s:  86.33

===>  EVAL Epoch 9

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 9 || Run Time:    0.6 | Load Time:    0.1 || F1:  95.65 | Prec:  93.22 | Rec:  98.21 || Ex/s: 152.84

---------------------

===>  TRAIN Epoch 10

0% [██████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

Finished Epoch 10 || Run Time:    8.5 | Load Time:    0.7 || F1: 100.00 | Prec: 100.00 | Rec: 100.00 || Ex/s:  86.52

===>  EVAL Epoch 10

0% [█] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Finished Epoch 10 || Run Time:    0.6 | Load Time:    0.1 || F1:  95.65 | Prec:  93.22 | Rec:  98.21 || Ex/s: 152.19

---------------------

Loading best model...
Training done.

tensor(97.3913, device='cuda:0')

In [ ]:
model.run_eval(processed_test)

===>  EVAL Epoch 4
Finished Epoch 4 || Run Time:    0.3 | Load Time:    0.1 || F1:  97.09 | Prec:  94.34 | Rec: 100.00 || Ex/s: 230.81

tensor(97.0874, device='cuda:0')