<a href="https://colab.research.google.com/github/SLane35/CollabCompet/blob/master/EntityMatching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

try:
    import deepmatcher
except:
    !pip install -qqq deepmatcher

     |████████████████████████████████| 51kB 4.2MB/s
     |████████████████████████████████| 51kB 6.5MB/s
     |████████████████████████████████| 296kB 19.9MB/s
  Building wheel for deepmatcher (setup.py) ... done
  Building wheel for fasttextmirror (setup.py) ... error
  ERROR: Failed building wheel for fasttextmirror
    Running setup.py install for fasttextmirror ... done

In [3]:
import deepmatcher as dm

In [4]:
import torch
torch.cuda.is_available()

True

In [5]:
!pip install -qqq recordlinkage

     |████████████████████████████████| 952kB 8.5MB/s
     |████████████████████████████████| 102kB 10.4MB/s

In [6]:
import pandas as pd
import recordlinkage
from recordlinkage.datasets import load_febrl1
df = load_febrl1(True)

In [18]:
df

(              given_name     surname  ... date_of_birth soc_sec_id
 rec_id                                ...
 rec-223-org          NaN      waller  ...      19081209    6988048
 rec-122-org      lachlan       berry  ...      19990219    7364009
 rec-373-org       deakin  sondergeld  ...      19600210    2635962
 rec-10-dup-0       kayla  harrington  ...      19150612    9004242
 rec-227-org         luke      purdon  ...      19831024    8099933
 ...                  ...         ...  ...           ...        ...
 rec-188-dup-0  stephanie         geu  ...      19421008    3997529
 rec-334-dup-0   nicholas         NaN  ...      19970422    5062738
 rec-469-dup-0    lachlan   katsiavos  ...      19380406    4112327
 rec-350-dup-0    monique     gergely  ...      19790807    7375144
 rec-212-org          NaN     mcveigh  ...      19360219    8243761

 [1000 rows x 10 columns], MultiIndex([('rec-223-dup-0',   'rec-223-org'),
             ('rec-122-dup-0',   'rec-122-org'),
             ('rec-373-dup-0',   'rec-373-org'),
             (   'rec-10-org',  'rec-10-dup-0'),
             ('rec-227-dup-0',   'rec-227-org'),
             (    'rec-6-org',   'rec-6-dup-0'),
             (  'rec-190-org', 'rec-190-dup-0'),
             ('rec-294-dup-0',   'rec-294-org'),
             (  'rec-206-org', 'rec-206-dup-0'),
             ('rec-344-dup-0',   'rec-344-org'),
             ...
             (  'rec-236-org', 'rec-236-dup-0'),
             ('rec-299-dup-0',   'rec-299-org'),
             ('rec-491-dup-0',   'rec-491-org'),
             (  'rec-474-org', 'rec-474-dup-0'),
             (  'rec-264-org', 'rec-264-dup-0'),
             (  'rec-132-org', 'rec-132-dup-0'),
             ('rec-498-dup-0',   'rec-498-org'),
             (    'rec-8-org',   'rec-8-dup-0'),
             ('rec-222-dup-0',   'rec-222-org'),
             (   'rec-83-org',  'rec-83-dup-0')],
            length=500))

In [12]:
dfNoLabels = load_febrl1()

In [10]:
dfNoLabels['id'] = range(1, len(dfNoLabels)+1)

In [13]:
dfNoLabels

              given_name     surname  ... date_of_birth soc_sec_id
rec_id                                ...
rec-223-org          NaN      waller  ...      19081209    6988048
rec-122-org      lachlan       berry  ...      19990219    7364009
rec-373-org       deakin  sondergeld  ...      19600210    2635962
rec-10-dup-0       kayla  harrington  ...      19150612    9004242
rec-227-org         luke      purdon  ...      19831024    8099933
...                  ...         ...  ...           ...        ...
rec-188-dup-0  stephanie         geu  ...      19421008    3997529
rec-334-dup-0   nicholas         NaN  ...      19970422    5062738
rec-469-dup-0    lachlan   katsiavos  ...      19380406    4112327
rec-350-dup-0    monique     gergely  ...      19790807    7375144
rec-212-org          NaN     mcveigh  ...      19360219    8243761

[1000 rows x 10 columns]

In [19]:
matching_dictionary = df[1]
matching_dictionary

MultiIndex([('rec-223-dup-0',   'rec-223-org'),
            ('rec-122-dup-0',   'rec-122-org'),
            ('rec-373-dup-0',   'rec-373-org'),
            (   'rec-10-org',  'rec-10-dup-0'),
            ('rec-227-dup-0',   'rec-227-org'),
            (    'rec-6-org',   'rec-6-dup-0'),
            (  'rec-190-org', 'rec-190-dup-0'),
            ('rec-294-dup-0',   'rec-294-org'),
            (  'rec-206-org', 'rec-206-dup-0'),
            ('rec-344-dup-0',   'rec-344-org'),
            ...
            (  'rec-236-org', 'rec-236-dup-0'),
            ('rec-299-dup-0',   'rec-299-org'),
            ('rec-491-dup-0',   'rec-491-org'),
            (  'rec-474-org', 'rec-474-dup-0'),
            (  'rec-264-org', 'rec-264-dup-0'),
            (  'rec-132-org', 'rec-132-dup-0'),
            ('rec-498-dup-0',   'rec-498-org'),
            (    'rec-8-org',   'rec-8-dup-0'),
            ('rec-222-dup-0',   'rec-222-org'),
            (   'rec-83-org',  'rec-83-dup-0')],
           length=500)

In [26]:
left_df = dfNoLabels.loc[matching_dictionary.get_level_values(0)]

In [28]:
right_df = dfNoLabels.loc[matching_dictionary.get_level_values(1)]

In [29]:
left_df

              given_name     surname  ... date_of_birth soc_sec_id
rec-223-dup-0    jamilla     wallner  ...      19081209    6988048
rec-122-dup-0    lachlan       berry  ...      19990219    7364009
rec-373-dup-0     deakin  sondergeld  ...      19600210    2635962
rec-10-org         kayla  harrington  ...      19150612    9004242
rec-227-dup-0        mia      purdon  ...      19831024    8099933
...                  ...         ...  ...           ...        ...
rec-132-org       joshua      ingels  ...      19080503    3603864
rec-498-dup-0     claire       crook  ...           NaN    2161417
rec-8-org          james      jesser  ...      19120111    5961736
rec-222-dup-0     emiiyl     coleman  ...      19421221    7206933
rec-83-org      mitchell       berry  ...      19400503    2887622

[500 rows x 10 columns]

In [30]:
right_df

              given_name     surname  ... date_of_birth soc_sec_id
rec-223-org          NaN      waller  ...      19081209    6988048
rec-122-org      lachlan       berry  ...      19990219    7364009
rec-373-org       deakin  sondergeld  ...      19600210    2635962
rec-10-dup-0       kayla  harrington  ...      19150612    9004242
rec-227-org         luke      purdon  ...      19831024    8099933
...                  ...         ...  ...           ...        ...
rec-132-dup-0     joshua     ingelbs  ...      19080503    3603864
rec-498-org       claire       crook  ...           NaN    2161417
rec-8-dup-0        james     jeslser  ...      19120111    5961736
rec-222-org       emiily     coleman  ...      19421221    7206933
rec-83-dup-0    mitchell       berry  ...      19400503    2887622

[500 rows x 10 columns]

In [32]:
left_df_renamed = left_df.rename(columns={'rec_id': 'id', 'given_name':'left_given_name', 'surname': 'left_surname', 'street_number':'left_street_number', 'address_1':'left_address_1', 'address_2':'left_address_2', 'suburb':'left_suburb', 'postcode':'left_postcode', 'state':'left_state', 'date_of_birth':'left_date_of_birth', 'soc_sec_id':'left_soc_sec_id'})

In [33]:
right_df_renamed = right_df.rename(columns={'rec_id': 'right_id', 'given_name':'right_given_name', 'surname': 'right_surname', 'street_number':'right_street_number', 'address_1':'right_address_1', 'address_2':'right_address_2', 'suburb':'right_suburb', 'postcode':'right_postcode', 'state':'right_state', 'date_of_birth':'right_date_of_birth', 'soc_sec_id':'right_soc_sec_id'})

In [34]:
left_df_renamed

              left_given_name left_surname  ... left_date_of_birth left_soc_sec_id
rec-223-dup-0         jamilla      wallner  ...           19081209         6988048
rec-122-dup-0         lachlan        berry  ...           19990219         7364009
rec-373-dup-0          deakin   sondergeld  ...           19600210         2635962
rec-10-org              kayla   harrington  ...           19150612         9004242
rec-227-dup-0             mia       purdon  ...           19831024         8099933
...                       ...          ...  ...                ...             ...
rec-132-org            joshua       ingels  ...           19080503         3603864
rec-498-dup-0          claire        crook  ...                NaN         2161417
rec-8-org               james       jesser  ...           19120111         5961736
rec-222-dup-0          emiiyl      coleman  ...           19421221         7206933
rec-83-org           mitchell        berry  ...           19400503         2887622

[500 rows x 10 columns]

In [35]:
right_df_renamed

              right_given_name  ... right_soc_sec_id
rec-223-org                NaN  ...          6988048
rec-122-org            lachlan  ...          7364009
rec-373-org             deakin  ...          2635962
rec-10-dup-0             kayla  ...          9004242
rec-227-org               luke  ...          8099933
...                        ...  ...              ...
rec-132-dup-0           joshua  ...          3603864
rec-498-org             claire  ...          2161417
rec-8-dup-0              james  ...          5961736
rec-222-org             emiily  ...          7206933
rec-83-dup-0          mitchell  ...          2887622

[500 rows x 10 columns]