<a href="https://colab.research.google.com/github/SLane35/CollabCompet/blob/master/EntityMatching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip uninstall deepmatcher

Uninstalling deepmatcher-0.1.1:
  Would remove:
    /usr/local/lib/python3.6/dist-packages/deepmatcher-0.1.1.dist-info/*
    /usr/local/lib/python3.6/dist-packages/deepmatcher/*
Proceed (y/n)? y
  Successfully uninstalled deepmatcher-0.1.1

In [3]:
pip install git+https://github.com/anhaidgroup/deepmatcher.git

Collecting git+https://github.com/anhaidgroup/deepmatcher.git
  Cloning https://github.com/anhaidgroup/deepmatcher.git to /tmp/pip-req-build-whna56km
  Running command git clone -q https://github.com/anhaidgroup/deepmatcher.git /tmp/pip-req-build-whna56km
Requirement already satisfied: torch>=1.0 in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (1.6.0+cu101)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (4.41.1)
Requirement already satisfied: pyprind in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (2.11.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (1.15.0)
Requirement already satisfied: Cython in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.29.21)
Requirement already satisfied: torchtext in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.3.1)
Requirement already satisfied: nltk>=3.2.5 in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (3.2.5)
Requirement already satisfied: fasttext in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.9.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (1.0.5)
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.3.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from deepmatcher==0.1.1) (0.22.2.post1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from torch>=1.0->deepmatcher==0.1.1) (0.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torch>=1.0->deepmatcher==0.1.1) (1.18.5)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from torchtext->deepmatcher==0.1.1) (2.23.0)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from fasttext->deepmatcher==0.1.1) (49.6.0)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.6/dist-packages (from fasttext->deepmatcher==0.1.1) (2.5.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->deepmatcher==0.1.1) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->deepmatcher==0.1.1) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->deepmatcher==0.1.1) (0.16.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->deepmatcher==0.1.1) (1.4.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->torchtext->deepmatcher==0.1.1) (2020.6.20)
Building wheels for collected packages: deepmatcher
  Building wheel for deepmatcher (setup.py) ... done
  Created wheel for deepmatcher: filename=deepmatcher-0.1.1-py2.py3-none-any.whl size=55003 sha256=96b57336fc8867a7542052356538efd58372a65e85faa2de4013b5bebce20a25
  Stored in directory: /tmp/pip-ephem-wheel-cache-q7wfvfes/wheels/21/b3/11/dc933837985fcb4683f016ed48f88ae73f90f9b20c122fbedd
Successfully built deepmatcher
Installing collected packages: deepmatcher
Successfully installed deepmatcher-0.1.1

In [4]:

try:
    import deepmatcher
except:
    !pip install -qqq deepmatcher

In [5]:
import deepmatcher as dm

In [7]:
import torch
torch.cuda.is_available()

True

In [6]:
!pip install -qqq recordlinkage

In [8]:
import pandas as pd
import recordlinkage
from recordlinkage.datasets import load_febrl1
df = load_febrl1(True)

In [9]:
dfNoLabels = load_febrl1()

In [10]:
matching_dictionary = df[1]

In [11]:
left_df = dfNoLabels.loc[matching_dictionary.get_level_values(0)]

In [12]:
right_df = dfNoLabels.loc[matching_dictionary.get_level_values(1)]

In [11]:
left_df

              given_name     surname  ... date_of_birth soc_sec_id
rec-223-dup-0    jamilla     wallner  ...      19081209    6988048
rec-122-dup-0    lachlan       berry  ...      19990219    7364009
rec-373-dup-0     deakin  sondergeld  ...      19600210    2635962
rec-10-org         kayla  harrington  ...      19150612    9004242
rec-227-dup-0        mia      purdon  ...      19831024    8099933
...                  ...         ...  ...           ...        ...
rec-132-org       joshua      ingels  ...      19080503    3603864
rec-498-dup-0     claire       crook  ...           NaN    2161417
rec-8-org          james      jesser  ...      19120111    5961736
rec-222-dup-0     emiiyl     coleman  ...      19421221    7206933
rec-83-org      mitchell       berry  ...      19400503    2887622

[500 rows x 10 columns]

In [12]:
right_df

              given_name     surname  ... date_of_birth soc_sec_id
rec-223-org          NaN      waller  ...      19081209    6988048
rec-122-org      lachlan       berry  ...      19990219    7364009
rec-373-org       deakin  sondergeld  ...      19600210    2635962
rec-10-dup-0       kayla  harrington  ...      19150612    9004242
rec-227-org         luke      purdon  ...      19831024    8099933
...                  ...         ...  ...           ...        ...
rec-132-dup-0     joshua     ingelbs  ...      19080503    3603864
rec-498-org       claire       crook  ...           NaN    2161417
rec-8-dup-0        james     jeslser  ...      19120111    5961736
rec-222-org       emiily     coleman  ...      19421221    7206933
rec-83-dup-0    mitchell       berry  ...      19400503    2887622

[500 rows x 10 columns]

In [13]:
left_df = left_df.drop(columns=['street_number', 'address_2', 'postcode', 'soc_sec_id'])
left_df

              given_name     surname  ... state date_of_birth
rec-223-dup-0    jamilla     wallner  ...    wa      19081209
rec-122-dup-0    lachlan       berry  ...   qld      19990219
rec-373-dup-0     deakin  sondergeld  ...   vic      19600210
rec-10-org         kayla  harrington  ...   nsw      19150612
rec-227-dup-0        mia      purdon  ...   vic      19831024
...                  ...         ...  ...   ...           ...
rec-132-org       joshua      ingels  ...   vic      19080503
rec-498-dup-0     claire       crook  ...   vic           NaN
rec-8-org          james      jesser  ...   vic      19120111
rec-222-dup-0     emiiyl     coleman  ...   nsw      19421221
rec-83-org      mitchell       berry  ...   nsw      19400503

[500 rows x 6 columns]

In [14]:
right_df = right_df.drop(columns=['street_number', 'address_2', 'postcode', 'soc_sec_id'])
right_df

              given_name     surname  ... state date_of_birth
rec-223-org          NaN      waller  ...    wa      19081209
rec-122-org      lachlan       berry  ...   qld      19990219
rec-373-org       deakin  sondergeld  ...   vic      19600210
rec-10-dup-0       kayla  harrington  ...   nsw      19150612
rec-227-org         luke      purdon  ...   vic      19831024
...                  ...         ...  ...   ...           ...
rec-132-dup-0     joshua     ingelbs  ...   vic      19080503
rec-498-org       claire       crook  ...   vic           NaN
rec-8-dup-0        james     jeslser  ...   vic      19120111
rec-222-org       emiily     coleman  ...   nsw      19421221
rec-83-dup-0    mitchell       berry  ...   nsw      19400503

[500 rows x 6 columns]

In [15]:
left_df_renamed = left_df.rename(columns={'given_name':'left_given_name', 'surname': 'left_surname', 'address_1':'left_address_1', 'suburb':'left_suburb', 'state':'left_state', 'date_of_birth':'left_date_of_birth'})

In [16]:
right_df_renamed = right_df.rename(columns={'given_name':'right_given_name', 'surname': 'right_surname',  'address_1':'right_address_1', 'suburb':'right_suburb', 'state':'right_state', 'date_of_birth':'right_date_of_birth'})

In [17]:
right_df_renamed['id'] = range(1, len(right_df_renamed)+1)

In [18]:
left_df_renamed['id'] = range(1, len(left_df_renamed)+1)

In [19]:
combined_df = pd.merge(left_df_renamed, right_df_renamed, on="id")

In [20]:
combined_df['label'] = 1
combined_df

    left_given_name left_surname  ... right_date_of_birth label
0           jamilla      wallner  ...            19081209     1
1           lachlan        berry  ...            19990219     1
2            deakin   sondergeld  ...            19600210     1
3             kayla   harrington  ...            19150612     1
4               mia       purdon  ...            19831024     1
..              ...          ...  ...                 ...   ...
495          joshua       ingels  ...            19080503     1
496          claire        crook  ...                 NaN     1
497           james       jesser  ...            19120111     1
498          emiiyl      coleman  ...            19421221     1
499        mitchell        berry  ...            19400503     1

[500 rows x 14 columns]

In [21]:
right_df_shuffled = right_df.sample(frac=1).reset_index(drop=True)
right_df_shuffled

    given_name       surname  ... state date_of_birth
0      jackson    cmielewski  ...   vic      19141022
1       bordin         brody  ...   qld      19510904
2        jamie       meixner  ...   nsw      19670124
3          bne        browen  ...   vic      19241201
4      mikayla       caruana  ...   qld      19590901
..         ...           ...  ...   ...           ...
495     joshua  price-austin  ...   act      19210303
496        sam         white  ...   nsw      19390109
497      eliza         keany  ...   vic      19280802
498       emma        gildea  ...   qld      19440429
499    jasmine         green  ...   qld      19530609

[500 rows x 6 columns]

In [22]:
right_df_shuffled = right_df_shuffled.rename(columns={'given_name':'right_given_name', 'surname': 'right_surname',  'address_1':'right_address_1', 'suburb':'right_suburb', 'state':'right_state', 'date_of_birth':'right_date_of_birth'})

In [23]:
right_df_shuffled['id'] = range(1, len(right_df_shuffled)+1)

In [24]:
combined_df_mixed = pd.merge(left_df_renamed, right_df_shuffled, on="id")
combined_df_mixed

    left_given_name left_surname  ... right_state right_date_of_birth
0           jamilla      wallner  ...         vic            19141022
1           lachlan        berry  ...         qld            19510904
2            deakin   sondergeld  ...         nsw            19670124
3             kayla   harrington  ...         vic            19241201
4               mia       purdon  ...         qld            19590901
..              ...          ...  ...         ...                 ...
495          joshua       ingels  ...         act            19210303
496          claire        crook  ...         nsw            19390109
497           james       jesser  ...         vic            19280802
498          emiiyl      coleman  ...         qld            19440429
499        mitchell        berry  ...         qld            19530609

[500 rows x 13 columns]

In [25]:
combined_df_mixed['label'] = 0
combined_df_mixed

    left_given_name left_surname  ... right_date_of_birth label
0           jamilla      wallner  ...            19141022     0
1           lachlan        berry  ...            19510904     0
2            deakin   sondergeld  ...            19670124     0
3             kayla   harrington  ...            19241201     0
4               mia       purdon  ...            19590901     0
..              ...          ...  ...                 ...   ...
495          joshua       ingels  ...            19210303     0
496          claire        crook  ...            19390109     0
497           james       jesser  ...            19280802     0
498          emiiyl      coleman  ...            19440429     0
499        mitchell        berry  ...            19530609     0

[500 rows x 14 columns]

In [26]:
final_df = pd.concat([combined_df, combined_df_mixed], axis=0)
final_df

    left_given_name left_surname  ... right_date_of_birth label
0           jamilla      wallner  ...            19081209     1
1           lachlan        berry  ...            19990219     1
2            deakin   sondergeld  ...            19600210     1
3             kayla   harrington  ...            19150612     1
4               mia       purdon  ...            19831024     1
..              ...          ...  ...                 ...   ...
495          joshua       ingels  ...            19210303     0
496          claire        crook  ...            19390109     0
497           james       jesser  ...            19280802     0
498          emiiyl      coleman  ...            19440429     0
499        mitchell        berry  ...            19530609     0

[1000 rows x 14 columns]

In [27]:
final_df['id'] = range(1, len(final_df)+1)

In [28]:
import numpy as np
train,validate,test = np.split(final_df, [int(.8 * len(final_df)), int(.9 * len(final_df))])

In [29]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [30]:
train.to_csv('/drive/My Drive/EntityMatching/train.csv')

In [31]:
validate.to_csv('/drive/My Drive/EntityMatching/validate.csv')
test.to_csv('/drive/My Drive/EntityMatching/test.csv')

In [4]:
processed_train, processed_validate, processed_test = dm.data.process(path='/drive/My Drive/EntityMatching', train='train.csv', validation='validate.csv', test='test.csv',ignore_columns=(''), left_prefix='left_',right_prefix='right_',label_attr='label',id_attr='id')

NameError: ignored

In [3]:
train_table = processed_train.get_raw_table()
train_table.head()

NameError: ignored

# New Section

In [ ]:
model = dm.MatchingModel(attr_summarizer='hybrid')

In [ ]:
model.run_train(
    processed_train,
    processed_validate,
    epochs=10,
    batch_size=16,
    best_save_path='hybrid_model.pth',
    pos_neg_ratio=3)